body
	+reg
img
	max-width: 100%
.container
  width: 1170px
  margin: auto
.button
	padding: 18px 30px
	border-radius: 7px
	background-color: $main-color
	border: none
	+bold
@media ( max-width: 1200px )
	.container
		width: 95%
@media (max-width: 768px)
	.container
		width: 90%
@media (max-width: 567px)
	.container
		width: 87%
