*
	box-sizing: border-box
body
	+reg
img
	max-width: 100%
.container
  width: 1170px
  margin: auto
.section
	padding: 83px 0
	&-title
		color: $text-color
		+bold
	&-subtitle
		color: $text-color
		font-size: 16px
		font-weight: 400
.button
	padding: 18px 30px
	border-radius: 7px
	background-color: $main-color
	border: none
	+bold
	&:hover
		background-color: lighten($main-color,10%)
		transition-delay: 0.2s
		cursor: pointer
.input
	border: 1px solid $border-input
	padding: 20px 26px
	font-size: 15px
	border-radius: 10px
@media ( max-width: 1200px )
	.container
		width: 95%
@media (max-width: 768px)
	.container
		width: 90%
@media (max-width: 567px)
	.container
		width: 87%
	.section
		padding: 72px 5px
