.navbar
	padding: 8px 0
	height: 88px
	&-block
		display: flex
		height: 74px
		justify-content: space-between
		align-items: center
	&__info
		display: flex
		align-items: center
		text-align: right
	&__phone
		display: inline-block
		margin-top: 10px
		color: $text-color
		font-size: 20px
		font-family: Museo Sans Cyrl-700
		font-weight: 400
		text-decoration: none
	&__adress
		display: flex
		flex-direction: column
		margin-bottom: -2px
		font-size: 13px
		font-weight: 400
	&__button
		margin-left: 31px
		padding: 19px 30px
		font-family: Museo Sans Cyrl-700
		font-size: 13px
@media ( max-width: 768px )
	.navbar
		&__phone
			font-size: 16px
		&__adress
			font-size: 13px
		&__button
			padding: 15px 26px
		&__logo
			width: 90px
			margin-top: 1px
@media ( max-width: 567px )
	.navbar
		height: 76px
		&__block
			height: 76
		&__contacts
			display: none
		&__button
			padding: 14px 26px 14px
			font-family: Museo Sans Cyrl-700
			font-size: 10px
		&__logo
			width: 90px
			
